.sidebar_open .title-block {
    padding-right: 380px !important;
}

.project_banner {
    padding: 20px;
    min-height: 150px;
}

.project_banner h1 {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-size: 30px;
    line-height: 40px;
}

.task_navigation > div {
    margin-left: 10px;
}

/* Project Sidebar */
.project_sidebar {
    position: fixed;
    right: -350px;
    top: 0;
    width: 350px;
    height: 100vh;
    background-color: var(--light-secondary);
    border-left: solid 1px var(--border-dark);
    padding: 30px;
}

.sidebar_open #project {
    padding-right: 350px;
}

.project_sidebar #task_search {
    padding: 0 10px;
    width: 100%;
    line-height: 34px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    border: solid 1px var(--border-dark);
}

.sidebar_open #project .project_sidebar {
    right: 0;
}

.project_sidebar h2 {
    font-size: 20px;
    line-height: 30px;
}

.project_sidebar h2 a.close_project_sidebar {
    float: right;
}

.project_sidebar h3 {
    font-size: 16px;
    line-height: 20px;
    padding-top: 20px;
    margin-top: 20px;
    border-top: solid 1px var(--border-dark);
    margin-bottom: 10px;
    color: var(--text-dark-primary);
}

.project_sidebar *+.checkbox_row {
    margin-top: 5px;
}

.project_sidebar .checkbox_row input[type=checkbox] {
    margin-right: 10px;
    border-radius: 3px;
}

.project_sidebar .checkbox_row .uk-checkbox {
    background-color: var(--light-primary);
}

.project_sidebar .checkbox_row .uk-checkbox:checked {
    background-color: #1e87f0;
}

.project_sidebar .checkbox_row label {
    font-size: 14px;
    color: var(--text-dark-primary);
}

.project_sidebar .clear_filters {
    display: inline-block;
    margin-top: 20px;
}

/* Project Content */
.project_content {
    padding: 20px;
}

/*----------------------------------------------------------------------------------------------------------------------
Dark Theme Overrides
----------------------------------------------------------------------------------------------------------------------*/

.dark-theme .project_sidebar {
    background-color: var(--dark-secondary);
    border-left: solid 1px var(--border-light);
}

.dark-theme .project_sidebar h3 {
    border-color: var(--border-light);
    color: var(--text-light-primary);
}

.dark-theme .project_sidebar .checkbox_row label {
    color: var(--text-light-secondary);
}

.dark-theme .project_sidebar .checkbox_row .uk-checkbox:not(:checked) {
    background-color: var(--dark-primary);
}