.timelog_entry {
    padding: 10px 10px 0;
    background-color: #fff;
    border: solid 1px rgba(0,0,0,0.2);
    position: relative;
}

*+.timelog_entry {
    margin-top: 10px;
}

.timelog_entry .timelog_information {
    background-color: #f1f1f1;
    border-top: solid 1px rgba(0,0,0,0.2);
    padding: 6px 10px 10px;
    margin: 10px -10px 0;
}

.timelog_entry .delete_timelog {
    position: absolute;
    top: -7px;
    right: -7px;
    display: none;
    width: 25px;
    height: 25px;
    background-color: #f0506e;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 50%;
    border: solid 1px rgba(0,0,0,0.4);
}

.timelog_entry:hover .delete_timelog {
    display: block;
}

.timelog_entry .timelog_content p {
    font-size: 12px !important;
    color: rgba(0,0,0,0.2) !important;
}