:root {
    --bg-primary: #ffffff;
    --bg-secondary: #f1f1f1;
    --border-primary: rgba(0,0,0,0.1);
    --text-primary: rgba(0,0,0,0.8);
    --text-secondary: rgba(0,0,0,0.5);

    --theme-primary-bg: #1e87f0;

    --light-primary: #ffffff;
    --light-secondary: #f1f1f1;
    --dark-primary: #15202b;
    --dark-secondary: #141b22;
    --border-light: rgba(255, 255, 255, 0.1);
    --border-dark: rgba(0, 0, 0, 0.1);
    --text-light-primary: rgba(255, 255, 255, 0.8);
    --text-light-secondary: rgba(255, 255, 255, 0.6);
    --text-dark-primary: #444444;
}

html.dark-theme:root {
    --bg-primary: #15202b;
    --bg-secondary: #141b22;
    --border-primary: rgba(255,255,255,0.1);
    --text-primary: rgba(255,255,255,0.75);
    --text-secondary: rgba(255,255,255,0.85);
}

[contenteditable],
input:focus,
input:active {
    outline: none;
}

input {
    background-color: transparent;
    border: solid 1px var(--border-primary);
    outline: none;
}

input,
input::placeholder {
    color: var(--text-primary);
}

/* UIKIT Alterations -------------------------------------------------------------------------------------------------*/
.uk-modal-header,
.uk-modal-header h2 {
    padding: 0;
    background: linear-gradient(
        90deg,
        #196ec3 0%,
        #1f88f1 33%,
        #3b9dff 66%,
        #5eafff 100%
    );
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 0;
}

.uk-modal .uk-modal-dialog {
    border: 0;
    border-radius: 20px;
}

.uk-modal .uk-modal-dialog,
.uk-modal .uk-modal-footer {
    background-color: var(--bg-primary);
}

.uk-modal .uk-modal-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: var(--border-primary);
}

.uk-modal .uk-modal-dialog {
    width: 100% !important;
    max-width: 800px !important;
}

.uk-modal .uk-modal-dialog .uk-modal-body,
.uk-modal .uk-modal-dialog .uk-modal-footer {
    padding: 30px;
}

.uk-modal-dialog .uk-modal-title {
    margin: 0 0;
    padding: 30px;
    background-color: #f1f1f1;
    border-bottom: solid 1px rgba(0,0,0,0.1);
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}

.uk-modal-dialog label {
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    display: block;
}

.uk-border-left {
    border-left: solid 1px var(--border-primary);
}

.uk-border-right {
    border-right: solid 1px var(--border-primary);
}

.uk-border-top {
    border-top: solid 1px var(--border-primary);
}

.uk-border-bottom {
    border-bottom: solid 1px var(--border-primary);
}

.uk-input {
    border-radius: 8px;
    border: solid 1px var(--border-primary);
}

.uk-input,
.uk-input:focus,
.uk-input:active,
.uk-input:hover {
    background-color: transparent;
}

/* Select 2 Overrides */

.select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    background-color: transparent;
    border-color: var(--border-primary);
}

/* Application Styles ------------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-secondary);
}

h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}

*+h2 {
    margin-top: 15px;
}

h2.title_small {
    font-size: 16px;
    line-height: 30px;
}

a {
    color: var(--text-primary);
    text-decoration: none !important;
}

a:hover {
    color: var(--text-primary);
}

@media(max-width: 767px) {
    p {
        font-size: 14px;
    }
}

pre code {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: rgba(0,0,0,0.4) !important;
}

.uk-container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.uk-modal-title {
    font-size: 20px;
    line-height: 30px;
}

[class*=uk-modal-close-] {
    top: 26px;
    right: 20px;
    color: var(--text-light-primary);
}

/* Start of the applications core styles. */

body.has-sidebar {
    padding-left: 330px;
    min-height: 100vh;
    overflow-x: hidden;
}

body.has-sidebar.sidebar-closed {
    padding-left: 80px;
}

header {
    width: 80px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 0;
    border-right: solid 1px var(--border-primary);
    z-index: 10;
    background-color: var(--bg-primary);
}

header ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 100%;
    flex-wrap: wrap;
    flex-basis: auto;
    flex-direction: column;
}

header ul li {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

header > ul > *+li {
    margin-top: 10px;
}

header ul li > a,
header ul li .user-wrapper > a {
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 8px;
    text-align: center;
    line-height: 40px;
    color: var(--text-primary);
    outline: none;
}

header ul li > a.active {
    background-color: #1e87f0;
    color: #ffffff;
}

header ul li > a:not(.active):hover,
header ul li > a:not(.active):focus {
    background-color: var(--bg-secondary);
}

header ul li .user-wrapper a:hover {
    background-color: var(--bg-secondary);
}

header ul li .user-wrapper a img {
    border-radius: 50%;
    border: solid 1px var(--border-primary);
}

header ul li:nth-child(2) {
    align-self: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}

header ul li.theme-wrapper {
    align-self: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}

header ul li:last-of-type a {
    padding: 5px;
    line-height: 0;
}

header ul li.theme-wrapper a {
    position: relative;
    overflow: hidden;
}

header ul li.theme-wrapper a span {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

header ul li.theme-wrapper a .light-theme {
    left: -40px;
}

header ul li.theme-wrapper a .dark-theme {
    right: -40px;
}

header ul li.theme-wrapper a .light-theme.active {
    left: 0;
}

header ul li.theme-wrapper a .dark-theme.active {
    right: 0;
}

header ul li.app-logo a {
    color: var(--text-primary);
    font-size: 18px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 8px;
    text-align: center;
    border: solid 1px transparent;
    display: inline-block;
    font-weight: 700;
}

header ul li.app-logo a span {
    font-size: 24px;
    color: #1e87f0;
}

header ul li.app-logo a:hover,
header ul li.app-logo a:focus {
    opacity: 0.8;
    background-color: rgba(0,0,0,0.1);
    border-color: var(--border-primary);
}

header .user.active img {
    border-color: #1e87f0;
}

.header-sidebar {
    position: fixed;
    top: 0;
    left: 80px;
    height: 100vh;
    width: 250px;
    border-right: solid 1px var(--border-primary);
    padding: 30px;
    background-color: var(--bg-primary);
}

.sidebar-closed .header-sidebar {
    left: -250px;
}

.header-sidebar h2 {
    font-size: 24px !important;
    line-height: 32px;
    font-weight: bold;
    color: var(--text-primary);
    margin-bottom: 25px !important;
}

.header-sidebar *+h2 {
    margin-top: 25px !important;;
}

.header-sidebar h3 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: var(--text-secondary);
    margin-bottom: 15px;
    margin-top: 25px;
}

.header-sidebar hr {
    margin: 25px 0 30px;
}

.header-sidebar > div {
    width: 189px;
    margin: 0 auto;
}

.header-sidebar h2 {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}

.header-sidebar p {
    font-size: 12px;
    line-height: 22px;
    margin: 0;
}

.header-sidebar a {
    display: block;
    padding: 10px 10px;
    margin: 0 -10px 5px;
    font-size: 12px;
    border-radius: 4px;
    color: var(--text-primary);
}

.header-sidebar a.active {
    background-color: var(--theme-primary-bg);
    color: #ffffff;
}

.header-sidebar a:hover,
.header-sidebar a:active,
.header-sidebar a:focus {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    outline: none;
}

.header-sidebar a.active:hover,
.header-sidebar a.active:active,
.header-sidebar a.active:focus {
    background-color: #1e87f0;
    opacity: 0.75;
    color: #fff;
}

.header-sidebar a i {
    width: 25px;
    font-size: 16px;
}

@media(max-width: 800px) {
    body.has-sidebar {
        padding-left: 80px;
    }

    body:not(.sidebar-open) .header-sidebar > div {
        width: 44px;
    }

    :not(.sidebar-open) .header-sidebar {
        padding-left: 10px;
        padding-right: 10px;
        left: -250px;
    }

    .header-sidebar .uk-width-auto {
        width: 100%;
    }
}

header .search-wrapper {
    padding-right: 10px;
}

header .search-wrapper input {
    height: 30px;
    border-radius: 4px;
    border: solid 1px var(--border-primary);
    padding: 0 10px;
    outline: none;
    width: 260px;
}

body {
    padding-left: 80px;
}

body.login {
    padding: 0 !important;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    background: linear-gradient(90deg, #196ec3 0%, #1f88f1 33%, #3b9dff 66%, #5eafff 100%);
}

body.login .login_wrapper,
body.login .login_wrapper > .uk-grid {
    height: 100vh;
    width: 100%;
}

body.login .login_wrapper .login_title {
    position: relative;
}

body.login .login_wrapper .login_title > div:first-of-type {
    z-index: 100;
}

.login_title_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center left;
    opacity: 0.1;
}

body.login .login_wrapper .login_title > .uk-grid {
    height: 100%;
}

body.login .login_wrapper .login_title h2 {
    text-align: center;
    margin-bottom: 5px;
    color: #fff;
    font-size: 60px;
    line-height: 70px;
}

body.login .login_wrapper .login_title .social_wrapper {
    text-align: center;
    padding: 20px;
}

body.login .login_wrapper .login_title .social_wrapper a {
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    border: solid 2px #fff;
    display: block;
}

*+body.login .login_wrapper .login_title .social_wrapper a {
    margin-top: 15px;
}

body.login .login_wrapper .login_title a:hover {
    color: #1e87f0;
    background-color: #fff;
}

body.login .login_form .login_form_inner {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

body.login .login_form form {
    width: 100%;
    max-width: 400px;
}

body.login .login_form input {
    margin-top: 10px;
    line-height: 38px;
    padding: 0;
    outline: 0;
    font-size: 14px;
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px #444;
    color: #444;
    z-index: 10;
}

body.login .login_form .input_wrapper input:not(:placeholder-shown),
body.login .login_form input:focus {
    border-color: #1e87f0;
}

body.login .login_form input:first-of-type {
    margin-top: 0;
}

body.login .login_form .input_wrapper {
    position: relative;
}

body.login .login_form *+.input_wrapper {
    margin-top: 35px;
}

body.login .login_form .input_wrapper .placeholder {
    position: absolute;
    left: 0;
    cursor: text;
    color: #444;
    font-size: 16px;
    top: 0;
    transition: all 0.2s;
}

body.login .login_form .input_wrapper input:not(:placeholder-shown) + label.placeholder,
body.login .login_form .input_wrapper:focus-within .placeholder {
    top: -20px;
    font-size: 14px;
    transition: all 0.2s;
    color: #1e87f0;
}

body.login .login_form .input_wrapper input::placeholder {
    color: transparent;
}

body.login .login_form .input_wrapper input::-ms-input-placeholder,
body.login .login_form .input_wrapper input::-moz-placeholder,
body.login .login_form .input_wrapper input:-moz-placeholder,
body.login .login_form .input_wrapper input::-webkit-input-placeholder {
    color: transparent;
}

body.login .login_form p {
    text-align: center;
    color: #fff;
}

body.login .login_form .input_wrapper.error input {
    border-color: #f0506e !important;
}

body.login .login_form .input_wrapper.error p {
    text-align: left;
    color: #f0506e;
}

body.login .login_form p:last-of-type {
    margin-bottom: 0;
}

body.login .login_form a {
    font-size: 12px;
    line-height: 20px;
    margin-right: 10px;
    color: #444;
}

body.login .login_form p a:last-of-type {
    margin-right: 0;
}

body.login .login_form .uk-button {
    width: 100%;
    margin-top: 35px;
    text-transform: initial;
    border-radius: 4px;
    background-color: #1e87f0;
    padding: 5px 20px;
}

body.login .login_form .uk-button:hover,
body.login .login_form .uk-button:focus {
    opacity: 0.9;
}

body.login .login_form p:last-of-type {
    margin-top: 10px;
    margin-bottom: 0;
}

.input_wrapper.error p {
    color: #f0506e;
}

.box_wrapper {
    padding: 10px;
    border: solid 1px var(--border-dark);
    border-radius: 4px;
}

.box_transparent {
    background-color: transparent;
    border: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.box_wrapper_large {
    padding: 20px;
}

.box_wrapper > h2 a.reload {
    float: right;
    background-color: rgba(0,0,0,0.1);
    padding: 0 10px;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.1);
}

.box_wrapper h2 a.reload:hover {
    opacity: 0.8;
}

.box_wrapper div > p,
.box_wrapper > p:last-of-type {
    margin-bottom: 0;
}

.pagination {
    padding: 10px 20px;
    background-color: var(--bg-secondary);
    border-bottom: solid 1px var(--border-primary);
}

.pagination a.paginate_previous,
.pagination a.paginate_next {
    display: inline-block;
    padding: 2px 10px;
    background-color: #fff;
    border: solid 1px var(--border-primary);
    font-size: 14px;
    line-height: 20px;
}

.pagination a.paginate_previous {
    margin-right: 10px;
}

.pagination a.paginate_next {
    margin-left: 10px;
}

.pagination a.paginate_previous:hover,
.pagination a.paginate_next:hover {
    background-color: var(--bg-secondary);
}

.box_padding {
    padding: 20px;
}

.form_element_row:nth-child(1n+2) {
    margin-top: 10px;
}

.form_element_row > div:first-of-type > div {
    margin-right: 15px;
    font-size: 16px;
    width: 30px;
    text-align: center;
    background-color: #ffa500;
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    color: #fff;
}

.form_element_row input {
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border: none;
    background-color: var(--bg-secondary);
    font-size: 14px;
    border-radius: 4px;
}

.form_element_row input:hover,
.form_element_row input:focus {
    background-color: var(--border-primary);
}

.progress {
    height: 6px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
}

.progress .progress_percent {
    width: 0;
    height: 6px;
    background-color: #33d296;
    transition: 0.5s;
}

.badge {
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    margin-right: 5px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    min-height: 20px;
    min-width: 30px;
    padding: 0 5px;
    text-align: center;
    border: solid 1px rgba(0,0,0,0.2);
}

.badge-image img {
    border-radius: 50%;
    max-width: 30px;
    height: 30px;
}

.badge.user {
    background-color: #ffa500;
}

.user-wrapper {
    position: relative;
}

.user-wrapper .user-dropdown {
    display: none;
}

.user-wrapper.open .user-dropdown {
    background-color: var(--bg-primary);
    border: solid 1px var(--border-primary);
    padding: 10px;
    display: block;
    position: absolute;
    left: 50px;
    bottom: 0;
    width: 200px;
    border-radius: 4px;
    z-index: 10000;
    cursor: pointer;
}

.user-wrapper.open .user-dropdown a {
    display: block;
    width: 100%;
    border: solid 1px rgba(0,0,0,0);
    font-weight: initial;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
}

.user-wrapper.open .user-dropdown a i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
    background-color: #2086f0;
    color: #fff;
    border: solid 1px rgba(0,0,0,0.1);
    margin-right: 10px;
}

.user-wrapper.open .user-dropdown a:hover {
    background-color: var(--bg-secondary);
    border-color: var(--border-primary);
}

textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    line-height: 30px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
}

.label {
    font-size: 14px;
    color: var(--text-dark-primary);
    border-bottom: solid 1px var(--border-dark);
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.title-block {
    border-bottom: solid 1px var(--border-primary);
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 30px;
}

.title-block * {
    margin-bottom: 0;
}

.close-sidebar {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    background-color: var(--bg-primary);
    border-radius: 50%;
    border: solid 1px var(--border-primary);
    text-align: center;
    right: -15px;
    top: 25px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-sidebar i {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e87f0;
    border-radius: 50%;
    color: #ffffff;
}

.close-sidebar > i:before {
    content: "\f053";
}

.sidebar-closed .close-sidebar > i:before {
    content: "\f054";
}

@media(max-width: 800px) {
    .close-sidebar > i:before {
        content: "\f054";
    }

    .sidebar-open .close-sidebar > i:before {
        content: "\f053";
    }

    .sidebar-open .header-sidebar {
        left: 80px;
        position: fixed;
        z-index: 9;
    }
}

.navigation *+div {
    margin-left: 10px;
}

.navigation a,
.navigation a.uk-icon-button,
.navigation a.uk-button {
    border-radius: 4px;
    border: solid 1px var(--border-primary);
    background-color: transparent;
}

.navigation a:hover,
.navigation a.uk-icon-button:hover,
.navigation a.uk-button:hover {
    border-color: rgba(0,0,0,0.2);
}

.navigation p {
    font-size: 14px;
}

/* Summernote Alterations --------------------------------------------------------------------------------------------*/

.note-hint-popover {
    background-color: #f1f1f1;
    border-radius: 4px;
}

.note-hint-popover .note-hint-item {
    padding: 10px;
    border: solid 1px transparent;
    font-size: 18px;
}

.note-hint-popover .note-hint-item:hover {
    background-color: #1e87f0;
    color: #fff;
    border-color: rgba(0,0,0,0.1);
}

.note-editor.note-frame {
    background-color: var(--bg-primary);
    padding: 10px 20px 0;
    border: solid 1px var(--border-primary) !important;
    border-radius: 14px;
}

.note-toolbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    display: inline-block;
    border-bottom: 0;
    background-color: transparent;
    z-index: 0;
    position: relative !important;
    margin-left: -10px;
}

.note-toolbar .note-btn {
    font-size: 10px;
    border: none;
    background-color: transparent;
}

.note-toolbar .note-btn,
.note-toolbar .note-btn i {
    color: var(--text-primary);
}

.note-toolbar .note-btn-group > .note-btn {
    margin-left: 0;
}

.note-toolbar .note-popover .note-popover-content > .note-btn-group,
.note-toolbar > .note-btn-group {
    margin-right: 0 !important;
    margin-top: 0 !important;
}

.note-toolbar .note-btn-group>.note-btn:first-child,
.note-toolbar .note-btn-group>.note-btn-group:first-child,
.note-toolbar .note-btn-group > .note-btn:last-child:not(.note-dropdown),
.note-toolbar .note-btn-group > .note-btn-group:last-child:not(.note-dropdown) {
    border-radius: 0 !important;
}

.note-toolbar > div:first-of-type > button:first-of-type,
.note-toolbar > div:first-of-type > div:first-of-type > button:first-of-type {
    margin-left: 0 !important;
}

.note-statusbar {
    display: none !important;
}

.note-editable {
    padding: 10px 0 20px 0 !important;
    background-color: transparent !important;
}

.note-editable a {
    color: var(--theme-primary-bg);
    text-decoration: none !important;
}

.note-editable ul {
    margin-bottom: 20px;
}

.box >:last-child,
.note-editable >:last-child {
    margin-bottom: 0 !important;
}

.note-editor.note-frame .note-editing-area .note-editable,
.note-frame * {
    color: var(--text-primary) !important;
}

/*.note-save-cancel-options {*/
/*    background-color: #f1f1f1;*/
/*    padding: 5px 10px;*/
/*    border-left: solid 1px rgba(0,0,0,0.1);*/
/*    border-right: solid 1px rgba(0,0,0,0.1);*/
/*    border-bottom: solid 1px rgba(0,0,0,0.1);*/
/*}*/

/*.note-save-cancel-options > .uk-button {*/
/*    margin-top: 0 !important;*/
/*    font-size: 12px;*/
/*    line-height: 12px !important;*/
/*    padding: 5px 15px;*/
/*    min-height: 0;*/
/*    height: auto;*/
/*}*/

.placeholder {
    color: #bbb;
}

.badge.placeholder {
    color: #fff;
}

div.placeholder {
    line-height: 40px;
    width: 100%;
    padding: 0 10px;
    outline: none;
    border: solid 1px #f1f1f1;
    font-size: 14px;
    border-radius: 4px;
}

span.small {
    font-size: 10px;
    text-transform: initial;
    color: #bbb;
}

.user_card {
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
    border: solid 1px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.user_card h2 {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 30px;
}

.user_card .fake_image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
    transition: 0.5s;
    font-size: 40px;
    color: #fff;
}

.user_card span {
    font-size: 12px;
    line-height: 20px;
}

.user_card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    background-color: #fff;
}

.ajax_message_helper {
    padding: 10px;
    background-color: var(--bg-secondary);
    border: solid 1px #00D769;
    border-left: solid 10px #00D769;
    position: fixed;
    max-width: 400px;
    width: 100%;
    bottom: 20px;
    right: 20px;
    display: none;
    color: var(--text-primary);
    border-radius: 8px;
}

.ajax_message_helper.active {
    display: block;
}

.ajax_message_helper > * {
    margin: 0;
}

.ajax_message_helper a {
    margin-left: 10px;
    color: #fff;
}

.uk-button {
    border-radius: 4px;
    line-height: 34px;
    padding: 0 10px;
    text-transform: initial;
}

.uk-button.disabled {
    background-color: #b1b1b1;
}

.uk-table {
    margin-bottom: 0;
}

.uk-table thead {
    border: solid 1px #e5e5e5;
}

.uk-table-striped tbody tr,
.uk-table-striped > tr {
    border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
}

/* Custom dropdown */

.dropdown_button {
    background-color: #fff;
    border: solid 1px var(--border-dark) !important;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px !important;
    padding: 0 !important;
}

.dropdown_button.large {
    width: auto;
    height: auto;
    line-height: 34px !important;
    padding: 0 10px !important;
    background-color: #1e87f0 !important;
}

.dropdown_button.large:hover {
    opacity: 0.8;
}

.dropdown {
    padding: 10px;
    background-color: var(--bg-primary);
    border: solid 1px var(--border-primary);
    position: absolute;
    right: 0;
    z-index: 10;
    border-radius: 4px;
    display: none;
    min-width: 200px;
}

.dropdown.dropdown_large {
    min-width: 400px;
}

.dropdown.open {
    display: block;
}

.dropdown h2 {
    font-size: 16px;
    border-bottom: solid 1px #aaa;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: #444;
}

.dropdown h2 a.uk-button.uk-button-small {
    float: right;
    margin-top: 4px;
    line-height: 20px;
    font-size: 14px;
}

.dropdown h3 {
    color: #444;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.dropdown label {
    padding-left: 5px;
    font-size: 14px;
}

.dropdown input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.dropdown ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.dropdown ul li a {
    color: var(--text-primary);
    padding: 5px 10px;
    display: block;
    border-radius: 4px;
    border: solid 1px transparent;
}

.dropdown ul li a:hover {
    background-color: var(--bg-secondary);
    border: solid 1px var(--border-primary);
}

.dropdown_button:hover {
    background-color: rgba(0,0,0,0.1);
}

.advanced_search_wrapper {
    position: relative;
}

.save,
.cancel {
    padding: 2px 5px;
    font-size: 12px;
    background-color: #e9e9e9;
    border-radius: 4px;
    border: solid 1px var(--border-light);
}

.save:hover,
.cancel:hover {
    color: #fff;
}

.save {
    background-color: #1e87f0;
    color: #fff;
}

.save:hover {
    opacity: 0.8;
}

.cancel {
    background-color: #e1e1e1;
}

.cancel:hover {
    color: #fff;
    background-color: #f0506e;
}

/** Scrollbar alteration */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: rgba(0,0,0,0.5);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: #1e87f0;
    outline: 1px solid slategrey;
}

::-webkit-overflow-scrolling:touch {
    background: #1e87f0;
    width: 3px;
    height: 3px;
}

.section {
    padding: 30px;
    background-color: var(--bg-primary);
    border-top: solid 1px var(--border-primary);
}

@media(max-width: 640px) {
    .section {
        padding: 15px;
    }

    .title-block {
        padding: 0 15px 0 25px;
    }
}

.section > h2,
.section h2.section_title {
    margin-top: 0;
    font-size: 14px !important;
    margin-bottom: 15px !important;
}

.section.gray {
    background-color: #f1f1f1;
}

.section > *:last-of-type {
    margin-bottom: 0;
}

.uk-hr, hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box {
    padding: 20px;
    border: solid 1px var(--border-primary);
    border-radius: 14px;
    color: var(--text-primary);
}

.box a {
    color: var(--theme-primary-bg);
    text-decoration: none !important;
}

.create {
    background-color: #1e87f0;
    color: #fff !important;
    border: solid 1px rgba(0,0,0,0.1);
}

.create:hover {
    opacity: 0.8;
}

.border {
    border: solid 1px rgba(0,0,0,0.1);
}

.title-bar {
    background: #fff
}

.no-border {
    border: 0;
}

.no-border-top {
    border-top: 0;
}

/*  Error Pages ----------------------------------------------------------------------------------------------------- */

.error-403,
.error-404 {
    background-color: #fff;
    height: 100vh;
}

.error-403 .error-message > div,
.error-404 .error-message > div {
    max-width: 75%;
    margin: 0 auto;
}

.error-403 .error-message > div h1,
.error-404 .error-message > div h1 {
    font-size: 60px;
    color: #1e87f0;
    text-align: center;
}

.error-403 .error-message > div p,
.error-404 .error-message > div p {
    color: #b2b2b2;
    font-size: 18px;
    line-height: 30px;
}

.error-403 .error-message h1 span,
.error-404 .error-message h1 span {
    color: #b2b2b2;
    font-size: 20px !important;
}

.error-403 .error-message > div hr,
.error-404 .error-message > div hr {
    max-width: 100px;
    margin: 0 auto;
    height: 3px;
    background-color: #1e87f0;
    border: 0;
}

.error-403 .error-message > div a.uk-button,
.error-404 .error-message > div a.uk-button {
    background-color: #1e87f0;
    color: #fff;
}

.error-403 .error-image,
.error-404 .error-image {
    background: linear-gradient(90deg, #196ec3 0%, #1f88f1 33%, #3b9dff 66%, #5eafff 100%);
    height: 100vh;
}

/* /Error Pages ----------------------------------------------------------------------------------------------------- */

.graph-card {
    border: solid 1px var(--border-primary);
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pie {
    --w: 150px;
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    border: solid 1px var(--border-primary);
    border-radius: 50%;
    /*overflow: hidden;*/
}
.pie:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(
        var(--c) calc(var(--p) * 1%),
        transparent 0
    );
    -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(99% - var(--b)),
        #000 calc(100% - var(--b))
    );
    mask: radial-gradient(
        farthest-side,
        #0000 calc(99% - var(--b)),
        #000 calc(100% - var(--b))
    );
    margin: -10px;
}

.pie:after {
    content: "";
    position: absolute;
    width: calc(100% + 18px);
    height: calc(100% + 18px);
    border-radius: 50%;
    border: solid 1px var(--border-primary);
    top: 0;
    left: 0;
    margin: -10px;
}

.uk-modal-dialog input,
.uk-modal-dialog textarea {
    width: 100%;
    border-radius: 4px;
    padding: 5px 10px;
    line-height: 30px;
    font-size: 16px;
    background-color: transparent;
}

.dark-theme .uk-modal-dialog input,
.dark-theme .uk-modal-dialog textarea {
    border-color: var(--border-light);
    color: var(--text-light-primary);
}

.dark-theme .uk-modal-dialog input::placeholder,
.dark-theme .uk-modal-dialog textarea::placeholder {
    color: var(--text-light-primary);
}

.simple-list > div {
    padding: 20px 30px;
    border-bottom: solid 1px var(--border-primary);
    word-break: break-word;
}

.simple-list > div > p {
    margin: 0;
}

.simple-list > div:nth-of-type(2n+1) {
    background-color: var(--bg-secondary);
}

.simple-list a.uk-button {
    background-color: transparent;
    color: var(--text-primary);
    border: solid 1px var(--border-primary);
}