.journal_navigation > div {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.journal_month {
    position: relative;
}

@media (max-width: 1680px) { .journal_month { width: 16.666%; }}
@media (max-width: 1450px) { .journal_month { width: 20%; }}
@media (max-width: 1260px) { .journal_month { width: 25%; }}
@media (max-width: 1000px) { .journal_month { width: 33.333%; }}
@media (max-width: 780px)  { .journal_month { width: 50%; }}
@media (max-width: 540px)  { .journal_month { width: 100%; }}

.journal_month .journal_inactive,
.journal_month .journal_active {
    width: 10px;
    height: 10px;
    display: block;
    background-color: #32d296;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    border: solid 1px rgba(0,0,0,0.2);
}

.journal_month .journal_inactive {
    background-color: #f1f1f1;
}

.journal_month:hover .box_wrapper {
    opacity: 0.8;
    cursor: pointer;
    border-color: #ffa500;
}

.journal_month h2 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
    padding-bottom: 5px;
    border-bottom: solid 1px rgba(0,0,0,0.1);
}

.journal_month h2 .uk-text-small {
    font-size: 10px;
    color: #bbb;
    font-weight: bold;
}

.journal_placeholder_rating i {
    color: rgba(0,0,0,0.1);
}

.journal_rating_badge,
.journal_achievements {
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
    padding: 0 5px;
    background-color: #f1f1f1;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 4px;
}

.journal_overall_content p {
    font-size: 12px;
    color: #b2b2b2;
    margin-bottom: 10px !important;
    min-height: 72px;
}

.journal_overall_content p.placeholder span {
    color: transparent;
    background-color: #f1f1f1;
}

.journal_overall_content p.placeholder span::selection {
    color: transparent;
    background: transparent;
}

.journal_overall_content p.placeholder span::-moz-selection {
    color: transparent !important;
    background: transparent !important;
}

#journals .box_wrapper {
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    padding: 15px;
}

@media(min-width: 567px) {
    #journals .journal_month a .box_wrapper {
        min-height: 143px;
    }
}

/*----------------------------------------------------------------------------------------------------------------------
Dark Theme Overrides
----------------------------------------------------------------------------------------------------------------------*/

.dark-theme .journal_rating_badge,
.dark-theme .journal_achievements {
    background-color: var(--dark-secondary);
    border-color: var(--border-light);
}

.dark-theme .journal_achievements {
    color: var(--text-light-primary);
}

.dark-theme .journal_overall_content p.placeholder span {
    background-color: var(--dark-secondary);
}

.dark-theme .journal_rating_badge .placeholder {
    color: #0e141a;
}