.time_log_calendar {
    overflow-x: auto;
    scrollbar-width: none;
}

.time_log_calendar::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
    height: 0;
}

.time_log_calendar > div {
    min-width: 1182px;
}

.time_log_date {
    z-index: 1;
}

.time_log_date_picker_wrapper {
    background-color: #f1f1f1;
    border-bottom: solid 1px rgba(0,0,0,0.2);
}

.time_log_date_picker_wrapper > div > div {
    padding: 10px;
}

.time_log_date_picker_wrapper > div > div:first-of-type {
    padding-left: 20px;
}

.time_log_date_picker_wrapper > div > div:last-of-type {
    border-left: solid 1px rgba(0,0,0,0.1);
}

.time_logs {
    border-bottom: 0;
    border-top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.time_logs > div {
    height: 100%;
}

.time_logs::-webkit-scrollbar {
    display: none;
}

.time_logs .time_log_day_wrapper {
    padding: 0 10px 10px;
    position: relative;
    width: 14.285714285714%;
}

.time_logs .time_log_day_wrapper:not(:first-of-type) {
    border-left: solid 1px rgba(0,0,0,0.2);
}

.time_logs {
    overflow: auto;
    max-height: calc(100vh - 80px);
    height: calc(100vh - 80px);
}

.time_log_day_wrapper:first-of-type {
    border-left: 0;
}

.time_log_day_wrapper .add_time_log_entry {
    display: block;
    background-color: #1e87f0;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    margin-top: 10px;
}

.time_log_day_wrapper:hover .add_time_log_entry {
    visibility: visible;
}

@media(min-width: 1000px) {
    .time_log_day_wrapper .add_time_log_entry {
        visibility: hidden;
    }
}

.time_log_day_wrapper {
    position:  relative;
}
.time_log_day_wrapper .time_log_date {
    position: sticky;
    top:  0;
    left: 0;
}

.time_log_day_wrapper.today,
.time_log_day_wrapper.today .time_log_date {
    background-color: #f1f1f1;
}

.add_time_log_entry:hover {
    opacity: 0.8;
}

.time_logs .time_log_entry {
    padding: 10px;
    border: solid 1px rgba(0,0,0,0.2);
    background-color: #f7f7f7;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    position: relative;
    word-break: break-word;
    font-size: 12px;
    overflow: hidden;
}

.time_logs .today .time_log_entry {
    background-color: #fff;
}

.time_logs .time_log_entry .time_log_entry_options {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background-color: rgba(255,255,255,0.8);
    display: none;
}

.time_logs .time_log_entry:hover .time_log_entry_options {
    display: flex;
}

.time_logs .time_log_entry:last-of-type {
    margin-bottom: 0;
}

.time_logs .time_log_date_title {
    padding: 10px;
    margin: 0 -10px;
}

.task_search_input_wrapper {
    position: relative;
}

.task_search_input_wrapper i {
    position: absolute;
    top: 13px;
    right: 13px;
    display: none;
}

.task_search_input_wrapper .dropdown {
    width: 100%;
    right: -10px;
    z-index: 1000;
}

.time_log_day_wrapper:not(.today) .time_log_date_title {
    background-color: var(--light-primary);
}

.time_log_entry .edit_time_log,
.time_log_entry .delete_time_log {
    padding: 5px 10px;
    color: #ffffff;
    font-size: 14px;
    height: 100%;
    width: 50%;
}

.time_log_entry .delete_time_log {
    background-color: rgb(240, 80, 110);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: solid 1px rgba(0,0,0,0.1);
}

.time_log_entry .edit_time_log {
    background-color: rgb(30, 135, 240);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.time_log_entry .time_log_entry_options a:hover {
    opacity: 0.8;
}

@media(min-width: 1000px) {
    .time_log_day_time_logs {
        max-height: 83vh;
        overflow-y: auto;
        overflow-x: visible;
    }
}

.time_log_day_time_logs {
    scrollbar-width: none;
}

.time_log_day_time_logs::-webkit-scrollbar {
    display: none;
}

.time_log_title {
    font-size: 14px;
    color: rgba(0,0,0,0.6);
    white-space: nowrap;
    overflow: hidden;
}

.time_log_entry .time_log_content p {
    font-size: 10px;
    line-height: 14px;
    color: rgba(0,0,0,0.2);
    margin-top: 8px;
}

.time_log_calendar_navigation > div {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/*----------------------------------------------------------------------------------------------------------------------
Dark Theme Overrides.
----------------------------------------------------------------------------------------------------------------------*/

.dark-theme .time_logs .time_log_date_title,
.dark-theme .time_log_title {
    color: var(--text-light-primary);
}

.dark-theme .time_log_entry .time_log_content p,
.dark-theme .time_log_entry .time_log_time_spent {
    color: var(--text-light-secondary);
}

.dark-theme .time_logs .time_log_day_wrapper:not(:first-of-type) {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
}

.dark-theme .time_log_day_wrapper.today,
.dark-theme .time_log_day_wrapper.today .time_log_date {
    background-color: var(--dark-secondary);
}

.dark-theme .time_logs .time_log_entry {
    background-color: var(--dark-secondary);
    border-color: var(--border-light);
}

.dark-theme .time_log_day_wrapper:not(.today) .time_log_date_title,
.dark-theme .time_logs .today .time_log_entry {
    background-color: var(--dark-primary);
}