.store_product_title_wrapper .product_basket_button {
    line-height: 20px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px transparent;
    display: block;
    position: relative;
}

.store_product_title_wrapper .product_basket_button:hover {
    border-color: rgba(0,0,0,0.2);
    background-color: #fff;
}

.store_product_title_wrapper .product_basket_button .product_basket_count {
    display: block;
    height: 20px;
    width: 20px;
    background-color: #761c19;
    color: #fff;
    border: solid 1px #c1c1c1;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
}

.store_product_item {
    border-bottom: solid 1px rgba(0,0,0,0.1);
    padding: 30px;
}

.store_product_item:nth-child(2n+1) {
    background-color: #f1f1f1;
}

.store_product_item h2 {
    margin: 0;
    font-size: 16px;
    line-height: 30px;
    color: rgba(0,0,0,0.5);
}

.store_product_item .product_price {
    font-size: 16px;
    line-height: 30px;
}

.store_product_item .product_price .product_price_currency {
    font-size: 10px;
    line-height: 20px;
}

.store_product_item .view_product {
    margin-right: 10px;
}

.store_product_item .view_product,
.store_product_item .add_product_to_basket {
    display: inline-block;
    padding: 6px 10px;
    background-color: #1e87f0;
    color: #fff;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 4px;
}

.store_product_item h2 {
    padding-left: 10px;
}

.store_product_item hr {
    display: block;
    margin: 15px 0;
}

.store_product_item .store_product_item_image {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    background-color: #1e87f0;
    color: #fff;
    border-radius: 10px;
    border: solid 1px rgba(0,0,0,0.2);
}

.store_product_item .product_package_item {
    font-size: 14px;
    color: rgba(0,0,0,0.4);
}

.store_product_item .product_package_item .product_package_image {
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
    border: solid 1px rgba(0,0,0,0.1);
    background-color: #1e87f0;
    color: #fff;
}