.time_log_report_navigation > div {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.time_log_report_navigation > div .time_log_report_navigation_left,
.time_log_report_navigation > div .time_log_report_navigation_right {
    background-color: #ffffff;
    border: solid 1px rgba(0,0,0,0.1);
}

.time_log_report_navigation > div .time_log_report_navigation_left:hover,
.time_log_report_navigation > div .time_log_report_navigation_right:hover {
    background-color: rgba(0,0,0,0.1);
}