.user-welcome {
    background-color: var(--theme-primary-bg);
    padding: 25px;
    border-radius: 10px;
    color: rgba(255,255,255,0.75);
    margin-bottom: 25px;
}

.user-welcome h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
    color: rgba(255,255,255,0.75);
}

.user-welcome h2 span {
    display: block;
    font-size: 18px;
    line-height: 38px;
    font-weight: 700;
    color: #ffffff;
}

.user_profile_wrapper .image_placement {
    width: 200px;
    height: 200px;
    background-color: #ffa500;
    border-radius: 50%;
    border: solid 4px #fff;
    margin-bottom: 30px;
}

.user_profile_wrapper .image_placement p {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    color: #fff;
}

.user_profile_wrapper .profile_image {
    width: auto;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    max-height: 200px;
    border: solid 10px rgba(0,0,0,0.1);
}

.user_card img {
    border-radius: 50%;
    max-width: 50%;
    margin: 0 auto;
    border: solid 10px rgba(0,0,0,0.1);
}